[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/jlrastrol/client_gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/jlrastrol/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/jlrastrol/orders-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/jlrastrol/auth-ms.git
